VITE_SUPABASE_URL=https://rfzkpgtancqsjxivrnts.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmemtwZ3RhbmNxc2p4aXZybnRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE2NzQ0MTEsImV4cCI6MjA3NzI1MDQxMX0._ryJ3HYST-KJUfVadMUsoJTqhVqkFIB--J-ABO6Bujk